@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../../assets/fonts/Roboto-Thin.woff") format("woff"), url("../../assets/fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../../assets/fonts/Roboto-Light.woff") format("woff"), url("../../assets/fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../../assets/fonts/Roboto-Regular.woff") format("woff"), url("../../assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../../assets/fonts/Roboto-Medium.woff") format("woff"), url("../../assets/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../../assets/fonts/Roboto-Bold.woff") format("woff"), url("../../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../../assets/fonts/Roboto-Black.woff") format("woff"), url("../../assets/fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta";
  font-display: swap;
  src: url("../../assets/fonts/RecoletaAlt-Regular.woff") format("woff"), url("../../assets/fonts/RecoletaAlt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Roboto", Verdana, sans-serif;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

h2 {
  margin: 0;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

h3 {
  margin: 0;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

h4 {
  margin: 0;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

h5 {
  margin: 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.24rem;
}

a {
  text-decoration: none;
  margin: 0;
}

.button {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  width: 298px;
  height: 54px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
}
.button_rectangle {
  border-radius: 5px;
}
.button:hover {
  background: #e47209;
}
.button:active {
  background: #4b9200;
}

.submit {
  background: #f1f3f2;
  border: 2px solid #333b41;
  border-radius: 5px;
  width: 129px;
  height: 42px;
  color: rgb(0, 0, 0);
  padding: 10px 39px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.submit:focus, .submit:active, .submit:hover {
  color: rgb(75, 146, 0);
  background: #f1f3f2;
  border: 2px solid #4b9200;
}

.slider__arrow {
  cursor: pointer;
}
.slider__arrow:hover {
  background: #e47209;
}
.slider__arrow:active {
  background: #4b9200;
}

.social__logo {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
}
.social__logo:hover {
  background: #e47209;
}
.social__logo:active {
  background: #4b9200;
}

.slider__arrow_left_img:hover {
  transform: translateX(-3px) scale(1.2);
}

.slider__arrow_right_img:hover {
  transform: translateX(3px) scale(1.2);
}

.input {
  height: 42px;
  border-radius: 2px;
  border: 0.7px solid rgb(249, 128, 75);
  color: #bdbdbd;
  background: #111115;
  cursor: pointer;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding: 10px 7px 10px 10px;
}
.input:focus, .input:active, .input:hover {
  outline: none;
  border: 0.7px solid rgb(75, 146, 0);
}
.input::-moz-placeholder {
  color: #bdbdbd;
}
.input:-ms-input-placeholder {
  color: #bdbdbd;
}
.input::placeholder {
  color: #bdbdbd;
}
.input:invalid {
  background: #f1f3f2;
  color: red;
  border: 1px solid red;
}
.input:invalid .submit {
  color: red;
}

.input:invalid ~ .submit {
  background: #f1f3f2;
  color: red;
  border: 2px solid red;
}

.input__footer {
  width: 228px;
  height: 42px;
}

.donate__cash[type=number] {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 268px;
  height: 54px;
  padding: 14px 9px;
  border: 1px solid #929699;
  border-radius: 2px;
  color: #929699;
  background-color: transparent;
}
.donate__cash[type=number]:focus, .donate__cash[type=number]:active, .donate__cash[type=number]:hover {
  outline: none;
  border: 0.7px solid rgb(75, 146, 0);
  color: rgb(75, 146, 0);
}
.donate__cash[type=number]::-moz-placeholder {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #929699;
}
.donate__cash[type=number]:-ms-input-placeholder {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #929699;
}
.donate__cash[type=number]::placeholder {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #929699;
}
.donate__cash[type=number]::-webkit-outer-spin-button, .donate__cash[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.donate__cash[type=number] {
  -moz-appearance: textfield;
}

.testimonials__input[type=range] {
  cursor: pointer;
  -webkit-appearance: none;
  position: relative;
  text-align: center;
  width: 599px;
  background: #f5f7f6;
  border-radius: 5px;
}
.testimonials__input[type=range]::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-image-slice: 1;
  z-index: -1;
  border-radius: 20px;
}
@media (max-width: 1280px) {
  .testimonials__input[type=range] {
    width: 390px;
  }
}

.testimonials__input[type=range]:focus {
  outline: none;
}

.testimonials__input[type=range]::-webkit-slider-runnable-track {
  width: 599px;
  height: 8px;
  background: #f5f7f6;
}

.testimonials__input[type=range]::-webkit-slider-thumb {
  margin: 1px 0;
  width: 115.19px;
  height: 6px;
  background: #fe9013;
  border-radius: 5px;
  -webkit-appearance: none;
}
@media (max-width: 1280px) {
  .testimonials__input[type=range]::-webkit-slider-thumb {
    width: 75px;
  }
}

.testimonials__input[type=range]::-moz-range-thumb {
  border: none;
  margin: 1px 0;
  width: 115.19px;
  height: 6px;
  background: #fe9013;
  border-radius: 5px;
}

.donate__range__input[type=range] {
  -webkit-appearance: none;
  margin-left: 17.5px;
  margin-top: 12.5px;
  width: 945px;
  height: 2px;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: #72828e;
  cursor: pointer;
}
.donate__range__input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: url("../../assets/img/png/slider.png");
}
.donate__range__input[type=range]::-moz-range-thumb {
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: url("../../assets/img/png/slider.png");
}

.logoBox {
  color: rgb(255, 255, 255);
}

.logo {
  width: 82px;
  height: 52px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo .logoText {
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}
.logo .logoImg {
  background-image: url("../../assets/img/svg/bamboo.svg");
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  width: 15.03px;
  height: 25.98px;
  left: 7px;
  top: 19px;
}

.logo_footer {
  border: 0.5px solid rgb(255, 255, 255);
}

@media (max-width: 630px) {
  .logo_footer_320 {
    border: none;
    height: auto;
    width: 128px;
  }
  .logo_footer_320 .logoImg {
    left: 70px;
    top: -5px;
  }
}

@media (max-width: 640px) {
  .logo_media-mobile {
    width: 46.86px;
    height: 29.03px;
    border: none;
  }
  .logo_media-mobile .logoText h1 {
    font-size: 1.2899rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  .logo_media-mobile .logoImg {
    left: -2px;
    top: 4px;
  }
}

.hamburger__line, .hamburger:after, .hamburger:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 100%;
  height: 2px;
}

.hamburger {
  display: none;
  position: relative;
  width: 18px;
  height: 10px;
}
@media (max-width: 640px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger:before {
  top: 0;
  left: 0;
}
.hamburger:after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1px);
  left: 0;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  background: rgb(0, 0, 0);
}

.header__wrapper {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 14px 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}
@media (max-width: 1280px) {
  .header__wrapper {
    padding: 14px 100px;
  }
}
@media (max-width: 1000px) {
  .header__wrapper {
    padding: 14px 30px;
  }
}
@media (max-width: 768px) {
  .header__wrapper {
    padding: 14px 20px;
  }
}
@media (max-width: 640px) {
  .header__wrapper {
    background: rgb(0, 0, 0);
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 2.5px 20px;
  }
}
@media (max-width: 320px) {
  .header__wrapper {
    padding: 2.5px 10px;
  }
}

.header__nav-img-wrapper {
  display: flex;
  gap: 63px;
}

.header__navigation {
  display: flex;
  align-items: center;
}
@media (max-width: 640px) {
  .header__navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 58px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
}
@media (max-width: 1280px) {
  .navigation {
    gap: 54px;
  }
}
@media (max-width: 1000px) {
  .navigation {
    gap: 48px;
  }
}
@media (max-width: 768px) {
  .navigation {
    gap: 20px;
  }
}

.navigation__link {
  color: rgb(255, 255, 255);
}

.navigation__link_activ {
  color: #fa6f32;
}

.header__designed {
  display: flex;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
}

.header__designed__link {
  color: rgb(255, 255, 255);
}
@media (max-width: 640px) {
  .header__designed__link {
    display: none;
  }
}

.section-panda {
  background: url("../../assets/img/png/GiantPanda.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1600px) {
  .section-panda {
    background: none;
  }
}

.wrapper__section-panda {
  overflow: hidden;
  height: 700px;
  display: flex;
  justify-content: flex-end;
  padding-right: 220px;
}
@media (max-width: 1600px) {
  .wrapper__section-panda {
    background: url("../../assets/img/png/GiantPanda.png");
    background-repeat: no-repeat;
    background-position: 0 -80px;
  }
}
@media (max-width: 1000px) {
  .wrapper__section-panda {
    background: url("../../assets/img/png/Giant Panda1000.png");
    height: 504px;
    padding-right: 85.75px;
    background-position: 0px -80px;
  }
}
@media (max-width: 768px) {
  .wrapper__section-panda {
    height: 400px;
    padding-right: 10px;
  }
}
@media (max-width: 640px) {
  .wrapper__section-panda {
    background: url("../../assets/img/png/Giant Panda640.png");
    height: 373px;
    padding-right: 14.77px;
    background-position: 0px 0px;
  }
}
@media (max-width: 630px) {
  .wrapper__section-panda {
    background-position: -30px 0px;
    height: 330px;
    padding-right: 5px;
  }
}
@media (max-width: 320px) {
  .wrapper__section-panda {
    background: url("../../assets/img/png/GiantPanda.png");
    height: 298px;
    padding-right: 10px;
    background-position: -32px 34px;
    background-repeat: no-repeat;
    background-size: 383.52px;
    overflow: visible;
  }
}

.wrapper__section-panda_donat {
  height: 386px;
}
@media (max-width: 1600px) {
  .wrapper__section-panda_donat {
    background: url("../../assets/img/png/panda_bg_donate1600.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 1000px) {
  .wrapper__section-panda_donat {
    background: url("../../assets/img/png/panda_bg_donate1000.png");
    height: 390px;
  }
}
@media (max-width: 640px) {
  .wrapper__section-panda_donat {
    background: url("../../assets/img/png/panda_bg_donate640.png");
    background-repeat: no-repeat;
    background-position: center 34px;
    height: 369px;
  }
}
@media (max-width: 320px) {
  .wrapper__section-panda_donat {
    background: url("../../assets/img/png/panda_bg_donate320.png");
    background-repeat: no-repeat;
    background-position: center 34px;
    height: 221px;
  }
}

.panda__conteiner {
  width: 500px;
}
@media (max-width: 1000px) {
  .panda__conteiner {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .panda__conteiner {
    width: 255.64px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 50px;
  }
}
@media (max-width: 640px) {
  .panda__conteiner {
    gap: 50.09px;
  }
}
@media (max-width: 630px) {
  .panda__conteiner {
    padding-right: 10px;
    width: 128.13px;
    flex-direction: column;
    gap: 0px;
    align-items: flex-end;
  }
}
@media (max-width: 320px) {
  .panda__conteiner {
    padding-right: 0px;
  }
}

.panda__caption {
  position: relative;
  padding-top: 86px;
  font-size: 10.65rem;
  font-style: normal;
  font-weight: 500;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  z-index: 1;
}
@media (max-width: 1280px) {
  .panda__caption {
    font-size: 8.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 75%;
    padding-top: 42.8px;
  }
}
@media (max-width: 768px) {
  .panda__caption {
    font-size: 5.42894rem;
    font-style: normal;
    font-weight: 600;
    line-height: 75%;
    padding-top: 82px;
  }
}
@media (max-width: 630px) {
  .panda__caption {
    width: 128.13px;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 75%;
    padding-top: 75.12px;
  }
}
@media (max-width: 320px) {
  .panda__caption {
    width: 128.13px;
  }
}
.panda__caption span {
  color: rgb(255, 238, 46);
}
.panda__caption::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -73px;
  display: block;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 1280px) {
  .panda__caption::before {
    width: 367px;
    height: 367px;
    top: -10px;
    left: -57px;
  }
}
@media (max-width: 768px) {
  .panda__caption::before {
    width: 237.6px;
    height: 237.6px;
    top: 45px;
    left: -40px;
  }
}
@media (max-width: 630px) {
  .panda__caption::before {
    width: 119.09px;
    height: 119.09px;
    top: 55px;
    left: -20px;
  }
}
@media (max-width: 320px) {
  .panda__caption::before {
    top: 55px;
    left: -20px;
  }
}

.panda__button {
  margin-left: 105px;
  margin-top: 60px;
}
@media (max-width: 1000px) {
  .panda__button {
    margin-left: 50px;
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .panda__button {
    margin-left: 20px;
    margin-top: 280px;
  }
}
@media (max-width: 630px) {
  .panda__button {
    margin-top: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 630px) {
  .panda__button {
    margin-top: 10px;
    padding-right: 0px;
  }
}
@media (max-width: 320px) {
  .panda__button {
    padding-right: 0px;
    padding-bottom: 4px;
  }
}

.main {
  position: relative;
}

.wrapper__main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backstage {
  display: flex;
  justify-content: space-between;
  gap: 87px;
  padding: 140px 220px 0;
  color: #333b41;
}
@media (max-width: 1280px) {
  .backstage {
    overflow: hidden;
    padding: 120px 70px 0;
    gap: 40px;
  }
}
@media (max-width: 1000px) {
  .backstage {
    padding: 109px 30px 0;
    gap: 31px;
  }
}
@media (max-width: 768px) {
  .backstage {
    overflow: visible;
    padding: 80px 30px 0;
    gap: 15px;
  }
}
@media (max-width: 640px) {
  .backstage {
    align-self: flex-start;
    padding: 60px 125px 0 20px;
    gap: 0px;
  }
}
@media (max-width: 320px) {
  .backstage {
    padding: 29px 10px 0;
  }
}

.backstage__img {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 1280px) {
  .backstage__img {
    width: 509px;
    height: 403px;
  }
}
@media (max-width: 1000px) {
  .backstage__img {
    min-width: 455px;
    height: 408px;
  }
}
@media (max-width: 999px) {
  .backstage__img {
    display: none;
  }
}

.backstage__content__wrapper {
  max-width: 465px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.backstage__content__wrapper h4 {
  margin-bottom: 14px;
}
@media (max-width: 1000px) {
  .backstage__content__wrapper {
    gap: 0px;
    margin-top: -10px;
    justify-content: flex-start;
  }
}
@media (max-width: 640px) {
  .backstage__content__wrapper {
    max-width: 495px;
    margin-top: 0px;
    gap: 0px;
  }
  .backstage__content__wrapper h3,
.backstage__content__wrapper h4 {
    padding-left: 5px;
  }
}
@media (max-width: 320px) {
  .backstage__content__wrapper {
    max-width: 300px;
    margin-top: 0px;
    gap: 0px;
  }
  .backstage__content__wrapper h3,
.backstage__content__wrapper h4 {
    padding-left: 0px;
    margin-bottom: 0px;
  }
}

@media (max-width: 630px) {
  .backstage__content__title {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.backstage__annotation {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 34px;
}
@media (max-width: 768px) {
  .backstage__annotation {
    margin-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  .backstage__annotation {
    margin-top: 23px;
    margin-bottom: 55px;
  }
}
@media (max-width: 640px) {
  .backstage__annotation {
    margin-top: 20px;
    margin-bottom: 32px;
  }
}
@media (max-width: 630px) {
  .backstage__annotation {
    margin-top: 18px;
    margin-bottom: 26px;
  }
}
@media (max-width: 320px) {
  .backstage__annotation {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.backstage__description {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 1280px) {
  .backstage__description {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }
}
@media (max-width: 1000px) {
  .backstage__description {
    margin-top: 17px;
  }
}
@media (max-width: 640px) {
  .backstage__description {
    margin-top: 7px;
  }
}
@media (max-width: 630px) {
  .backstage__description {
    margin-top: 11px;
  }
}

/* Start Slider ------------------------ */
.slider {
  position: relative;
  margin-top: 180px;
  padding: 0 220px;
}
@media (max-width: 1280px) {
  .slider {
    margin-top: 145px;
    padding: 0 40px;
  }
}
@media (max-width: 1000px) {
  .slider {
    padding: 0 30px;
    margin-top: 72px;
  }
}
@media (max-width: 768px) {
  .slider {
    margin-top: 80px;
    padding: 0 20px;
  }
}
@media (max-width: 640px) {
  .slider {
    margin-top: 9px;
  }
}
@media (max-width: 630px) {
  .slider {
    margin-top: 40px;
  }
}
@media (max-width: 320px) {
  .slider {
    padding: 0 24.76px 0 10px;
    margin-top: 41px;
  }
}

.slider__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
@media (max-width: 630px) {
  .slider__arrow {
    display: none;
  }
}

.slider__arrow_left {
  position: absolute;
  top: 50%;
  left: 140px;
  transform: translateY(-42px);
}
@media (max-width: 1280px) {
  .slider__arrow_left {
    left: 35%;
    transform: translateY(0px);
  }
}
@media (max-width: 768px) {
  .slider__arrow_left {
    left: 38%;
    transform: translateY(-10px);
  }
}

.slider__arrow_right {
  position: absolute;
  top: 50%;
  right: 140px;
  transform: translateY(-42px);
}
@media (max-width: 1280px) {
  .slider__arrow_right {
    right: 35%;
    transform: translateY(0px);
  }
}
@media (max-width: 768px) {
  .slider__arrow_right {
    right: 38%;
    transform: translateY(-10px);
  }
}

.slider__cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.slider__cards .slider__card_alligators {
  display: none;
}
.slider__cards .slider__card_panda,
.slider__cards .slider__card_eagles,
.slider__cards .slider__card_gorillas,
.slider__cards .slider__card_two-toed,
.slider__cards .slider__card_two-cheetahs,
.slider__cards .slider__card_two-penguins,
.slider__cards .slider__card_alligators {
  order: 0;
}
@media (max-width: 1000px) {
  .slider__cards .slider__card_gorillas {
    order: 1;
  }
  .slider__cards .slider__card_two-toed {
    display: none;
  }
  .slider__cards .slider__card_alligators {
    display: flex;
    order: 1;
  }
  .slider__cards .slider__card_two-penguins {
    order: 3;
  }
}
@media (max-width: 999px) {
  .slider__cards {
    -moz-column-gap: 10%;
         column-gap: 10%;
  }
  .slider__cards .slider__card_two-toed,
.slider__cards .slider__card_two-cheetahs,
.slider__cards .slider__card_two-penguins {
    display: none;
  }
}
@media (max-width: 768px) {
  .slider__cards {
    -moz-column-gap: 3%;
         column-gap: 3%;
  }
}
@media (max-width: 630px) {
  .slider__cards {
    flex-direction: column;
  }
}

.slider__card {
  height: 426px;
  max-width: 366px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: solid 1px #fa6f32;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}
.slider__card:hover .slider__card__img {
  display: none;
}
.slider__card:hover img {
  transform: scale(1.1);
  z-index: 2;
}
.slider__card:hover .slider__card__wrapper {
  position: relative;
  transform: translateY(-45px);
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: white;
  z-index: 3;
}
.slider__card:hover .slider__card__wrapper::before {
  position: absolute;
  left: 0;
  content: "";
  background-color: rgb(75, 146, 0);
  height: 150px;
  width: 366px;
  z-index: -1;
}
@media (max-width: 1280px) {
  .slider__card {
    height: 354px;
    max-width: 294px;
    margin-top: 73px;
  }
}
@media (max-width: 999px) {
  .slider__card {
    height: 332px;
    max-width: 285.24px;
  }
}
@media (max-width: 630px) {
  .slider__card {
    margin-top: 0px;
  }
}

.slider__card__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px 10px 12px;
}

.slider__card__img {
  position: relative;
  padding-top: 7px;
  width: 48px;
  height: 40px;
}
.slider__card__img img {
  position: absolute;
  right: 0px;
  top: 1px;
  width: 48px;
  height: 40px;
}

.slider__card__title {
  margin-top: 1px;
  text-transform: uppercase;
}
@media (max-width: 630px) {
  .slider__card__title {
    font-size: 1.3em;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
}

.slider__card__description {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}
@media (max-width: 630px) {
  .slider__card__description {
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
  }
}

/* End Slider */
.main__button {
  margin: 60px 0px 100px;
}
@media (max-width: 1280px) {
  .main__button {
    margin: 60px 0px 140px;
  }
}
@media (max-width: 640px) {
  .main__button {
    margin: 38px 0px 100px;
  }
}
@media (max-width: 630px) {
  .main__button {
    margin: 20px 0px 80px;
  }
}
@media (max-width: 320px) {
  .main__button {
    margin: 0px 0px 60px;
  }
}

.main__bacgraund__img__flower {
  height: 605px;
  width: 200px;
  background: url("../../assets/img/png/flower_foto1.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: -1;
}
@media (max-width: 1280px) {
  .main__bacgraund__img__flower {
    display: none;
  }
}
@media (max-width: 999px) {
  .main__bacgraund__img__flower {
    display: block;
    width: 128px;
    height: 476px;
    background: url("../../assets/img/png/flower_foto1000.png");
    top: -5px;
    right: 0px;
  }
}
@media (max-width: 640px) {
  .main__bacgraund__img__flower {
    top: -5px;
  }
}
@media (max-width: 630px) {
  .main__bacgraund__img__flower {
    height: 225px;
    width: 35px;
    background: url("../../assets/img/png/flower_foto320.png");
    top: 0px;
  }
}
@media (max-width: 320px) {
  .main__bacgraund__img__flower {
    top: -40px;
  }
}

.main__bacgraund__img__strelitzia {
  display: block;
  height: 275px;
  width: 368px;
  background: url("../../assets/img/png/strelitzia.png");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
@media (max-width: 1280px) {
  .main__bacgraund__img__strelitzia {
    height: 180px;
    width: 241px;
    background: url("../../assets/img/png/strelitzia1.png");
  }
}
@media (max-width: 640px) {
  .main__bacgraund__img__strelitzia {
    height: 131px;
    width: 175px;
    background: url("../../assets/img/png/strelitzia640.png");
  }
}
@media (max-width: 630px) {
  .main__bacgraund__img__strelitzia {
    height: 71px;
    width: 68px;
    background: url("../../assets/img/png/strelitzia320.png");
    bottom: -5px;
  }
}

.main__bacgraund__img__palm {
  display: block;
  width: 292px;
  height: 460px;
  background: url("../../assets/img/png/palm_foto.png");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
@media (max-width: 1280px) {
  .main__bacgraund__img__palm {
    height: 202px;
    width: 194px;
    background: url("../../assets/img/png/palm_foto1000.png");
    background-repeat: no-repeat;
  }
}
@media (max-width: 640px) {
  .main__bacgraund__img__palm {
    height: 202px;
    width: 134px;
    background: url("../../assets/img/png/palm_foto640.png");
  }
}
@media (max-width: 630px) {
  .main__bacgraund__img__palm {
    height: 72px;
    width: 58px;
    background: url("../../assets/img/png/palm_foto320.png");
  }
}

.section_frend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
}

.wrapper__frend {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  padding: 69px 0 100px 0;
}
@media (max-width: 1280px) {
  .wrapper__frend {
    padding: 40px 30px 70px;
  }
}
@media (max-width: 1000px) {
  .wrapper__frend {
    padding: 30px 30px 50px;
  }
}
@media (max-width: 768px) {
  .wrapper__frend {
    padding: 25px 15px 25px;
  }
}
@media (max-width: 640px) {
  .wrapper__frend {
    padding: 20px 0px 20px;
  }
}
@media (max-width: 320px) {
  .wrapper__frend {
    padding: 20px 10px;
  }
}

.frend__content {
  width: 1160px;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 41px 0 59px 0;
}
@media (max-width: 1280px) {
  .frend__content {
    width: 1050px;
    padding: 39px 0 55px 0;
  }
}
@media (max-width: 1000px) {
  .frend__content {
    width: 940px;
    padding: 30px 0 50px 0;
  }
}
@media (max-width: 768px) {
  .frend__content {
    width: 720px;
  }
}
@media (max-width: 640px) {
  .frend__content {
    width: 640px;
    padding: 10px 0 60px;
  }
}
@media (max-width: 630px) {
  .frend__content {
    padding: 10px 0px 50px;
  }
}
@media (max-width: 320px) {
  .frend__content {
    padding: 20px 0px 40px;
  }
}

.frend__title {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
  z-index: 2;
}
@media (max-width: 768px) {
  .frend__title {
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}
@media (max-width: 630px) {
  .frend__title {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.frend__conteiner__text {
  padding-left: 99px;
}
@media (max-width: 1280px) {
  .frend__conteiner__text {
    padding-left: 60px;
  }
}
@media (max-width: 1000px) {
  .frend__conteiner__text {
    padding-left: 49px;
  }
}
@media (max-width: 768px) {
  .frend__conteiner__text {
    padding: 0 30px;
  }
}
@media (max-width: 640px) {
  .frend__conteiner__text {
    padding: 0 20px;
  }
}
@media (max-width: 630px) {
  .frend__conteiner__text {
    padding: 0px;
  }
}

.frend__annotation {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 30px;
  color: #333b41;
}
@media (max-width: 1280px) {
  .frend__annotation {
    margin-top: 25px;
  }
}
@media (max-width: 1000px) {
  .frend__annotation {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .frend__annotation {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}
@media (max-width: 630px) {
  .frend__annotation {
    margin-top: 10px;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.frend__annotation-covid {
  margin-top: 40px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #333b41;
}
@media (max-width: 1280px) {
  .frend__annotation-covid {
    padding-right: 78px;
    margin-top: 25px;
  }
}
@media (max-width: 1000px) {
  .frend__annotation-covid {
    margin-top: 21px;
  }
}
@media (max-width: 768px) {
  .frend__annotation-covid {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-top: 20px;
  }
}
@media (max-width: 640px) {
  .frend__annotation-covid {
    padding-right: 10px;
  }
}
@media (max-width: 630px) {
  .frend__annotation-covid {
    display: none;
  }
}

.frend__description {
  max-width: 863px;
  margin-top: 11px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #333b41;
}
.frend__description a {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #333b41;
  -webkit-text-decoration: underline #fa6f32;
          text-decoration: underline #fa6f32;
}
@media (max-width: 1280px) {
  .frend__description {
    padding-right: 80px;
    margin-top: 25px;
  }
}
@media (max-width: 1000px) {
  .frend__description {
    padding-right: 58px;
    margin-top: 10px;
  }
}
@media (max-width: 640px) {
  .frend__description {
    padding-right: 5px;
  }
}
@media (max-width: 630px) {
  .frend__description {
    display: none;
  }
}

.frend__header {
  text-align: center;
  margin-top: 60px;
}
@media (max-width: 1280px) {
  .frend__header {
    margin-top: 50px;
  }
}
@media (max-width: 1000px) {
  .frend__header {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .frend__header {
    margin-top: 30px;
  }
}
@media (max-width: 630px) {
  .frend__header {
    margin-top: 21px;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.frend__pay {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 198px;
}
@media (max-width: 1280px) {
  .frend__pay {
    padding: 0 110px;
  }
}
@media (max-width: 1000px) {
  .frend__pay {
    padding: 0 88px;
  }
}
@media (max-width: 768px) {
  .frend__pay {
    padding: 0 20px;
  }
}
@media (max-width: 640px) {
  .frend__pay {
    padding: 0 32px 0 20px;
    margin-top: 20px;
  }
}
@media (max-width: 630px) {
  .frend__pay {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 0px;
  }
}

.frend__card {
  position: relative;
  width: 168px;
}
@media (max-width: 768px) {
  .frend__card_befor-vector::before {
    z-index: 1;
    position: absolute;
    top: -15px;
    right: -58px;
    display: block;
    content: "";
    width: 89px;
    height: 29px;
    background: url(../../assets/img/png/arrow.png);
  }
}
@media (max-width: 768px) and (max-width: 630px) {
  .frend__card_befor-vector::before {
    top: 196px;
    right: -60px;
    transform: rotate(90deg);
  }
}
@media (max-width: 630px) {
  .frend__card {
    margin-top: 20px;
  }
  .frend__card:last-child {
    margin-top: 29px;
  }
}

.frend__card-img {
  width: 100%;
  height: 168px;
  border: solid 1px #fa6f32;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.frend__paragraf {
  margin-top: 30px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 630px) {
  .frend__paragraf {
    margin-top: 10px;
    height: 44px;
  }
}

.frend__vector {
  padding-top: 56px;
}
@media (max-width: 1000px) {
  .frend__vector {
    padding-top: 63px;
  }
}
@media (max-width: 768px) {
  .frend__vector {
    display: none;
  }
}

.frend__button {
  text-align: center;
  margin-top: 60px;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .frend__button {
    margin-top: 65px;
  }
}
@media (max-width: 1000px) {
  .frend__button {
    margin-top: 72px;
  }
}
@media (max-width: 768px) {
  .frend__button {
    margin-top: 40px;
  }
}
@media (max-width: 630px) {
  .frend__button {
    margin-top: 30px;
  }
}
@media (max-width: 320px) {
  .frend__button {
    margin-top: 39px;
  }
}

.testimonials {
  position: relative;
}

.wrapper__testimonials {
  padding: 140px 220px 180px;
}
@media (max-width: 1280px) {
  .wrapper__testimonials {
    padding: 120px 80px 160px;
  }
}
@media (max-width: 1000px) {
  .wrapper__testimonials {
    padding: 100px 30px 140px;
  }
}
@media (max-width: 768px) {
  .wrapper__testimonials {
    padding: 80px 25px 100px;
  }
}
@media (max-width: 640px) {
  .wrapper__testimonials {
    padding: 60px 20px 80px;
  }
}
@media (max-width: 630px) {
  .wrapper__testimonials {
    padding: 40px 10px 70px;
  }
}
@media (max-width: 320px) {
  .wrapper__testimonials {
    padding: 30px 10px 60px;
  }
}

.testimonials__header {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
  color: #333b41;
}
@media (max-width: 630px) {
  .testimonials__header {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}
@media (max-width: 768px) {
  .testimonials__header {
    margin-top: 1px;
  }
}

.testimonials__cards__wrapper {
  width: 100%;
  overflow: hidden;
}

.testimonials__cards {
  padding: 0 2px;
  display: flex;
  gap: 28px;
  margin-top: 47px;
}
.testimonials__cards > .testimonials__card {
  order: 1;
}
@media (max-width: 1280px) {
  .testimonials__cards {
    margin-top: 30px;
  }
  .testimonials__cards .testimonials__card_michael {
    order: -1;
  }
  .testimonials__cards .testimonials__card_oska {
    order: 0;
  }
  .testimonials__cards .testimonials__card_oskar {
    order: 2;
  }
}
@media (max-width: 768px) {
  .testimonials__cards {
    height: 360px;
    gap: 5px;
    margin-top: 30px;
    flex-direction: column;
  }
}
@media (max-width: 630px) {
  .testimonials__cards {
    margin-top: 24px;
  }
}

.testimonials__card {
  margin-bottom: 15px;
  padding: 15px 15px 19px 15px;
  position: relative;
  min-width: 268px;
  height: 391px;
  background-color: #f1f3f2;
  border-radius: 20px;
}
.testimonials__card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-image-slice: 1;
  z-index: -1;
  border-radius: 20px;
}
@media (max-width: 1280px) {
  .testimonials__card {
    min-width: 293px;
    height: 391px;
  }
}
@media (max-width: 768px) {
  .testimonials__card {
    padding: 15px 15px 5px 10px;
    max-width: 596px;
    height: 109px;
  }
}
@media (max-width: 630px) {
  .testimonials__card {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.testimonials__card__header {
  display: flex;
}
.testimonials__card__header img {
  width: 37px;
  height: 37px;
}

.testimonials__card__header__wrapper {
  margin-left: 10px;
}

.testimonials__name {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.testimonial__data {
  display: flex;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  color: #bdbdbd;
}

.testimonial__data__local {
  margin-right: 6px;
}

.testimonial__data__date {
  margin-left: 5px;
}

.testimonial__text {
  overflow: hidden;
  max-width: 237px;
  height: 309px;
  margin-top: 10px;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  color: #767474;
}
@media (max-width: 768px) {
  .testimonial__text {
    max-width: 565px;
    height: 37px;
  }
}

.slider-testimonials-container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1280px) {
  .slider-testimonials-container {
    margin-top: 4px;
  }
}
@media (max-width: 768px) {
  .slider-testimonials-container {
    display: none;
  }
}

.testimonial__button {
  margin-top: 26px;
}
@media (max-width: 1280px) {
  .testimonial__button {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .testimonial__button {
    margin-top: 36px;
  }
}
@media (max-width: 630px) {
  .testimonial__button {
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  .button_rectangle_testimonial {
    width: 240px;
    display: block;
    margin: 0 auto;
  }
}

.testimonial__background__img {
  display: block;
  width: 247px;
  height: 408px;
  position: absolute;
  bottom: -135px;
  right: 0px;
  background-image: url("../../assets/img/png/palm1600.png");
  background-repeat: no-repeat;
  z-index: -1;
}
@media (max-width: 1280px) {
  .testimonial__background__img {
    bottom: -85px;
    height: 325px;
    width: 196px;
    background-image: url("../../assets/img/png/palm1000.png");
  }
}
@media (max-width: 640px) {
  .testimonial__background__img {
    bottom: -70px;
    height: 204px;
    width: 116px;
    background-image: url("../../assets/img/png/palm640.png");
  }
}
@media (max-width: 630px) {
  .testimonial__background__img {
    bottom: -30px;
    height: 94px;
    width: 51px;
    background-image: url("../../assets/img/png/palm320.png");
  }
}

.footer {
  background: #111115;
}

.wrapper__footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 220px 50px;
  color: rgb(255, 255, 255);
}
.wrapper__footer a {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.wrapper__footer .navigation__link_activ {
  color: #fa6f32;
}
.wrapper__footer > * {
  order: 3;
}
@media (max-width: 1280px) {
  .wrapper__footer {
    padding: 40px 50px 50px 43px;
  }
}
@media (max-width: 1000px) {
  .wrapper__footer {
    padding: 40px 18px 50px 43px;
  }
}
@media (max-width: 768px) {
  .wrapper__footer {
    padding: 22px 20px 20px 25px;
  }
}
@media (max-width: 640px) {
  .wrapper__footer {
    padding: 13px 20px 12px 20px;
  }
}
@media (max-width: 630px) {
  .wrapper__footer {
    padding: 20px 10px;
    flex-direction: column;
  }
  .wrapper__footer .footer__logo {
    order: 1;
  }
  .wrapper__footer .footer__social {
    order: 2;
  }
  .wrapper__footer .footer__nav {
    order: 5;
  }
}

@media (max-width: 630px) {
  .footer__logo {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer__subscribe {
    display: none;
  }
}

.footer__subscribe__title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.footer__input_wrapper {
  margin-top: 14px;
  display: flex;
  align-items: center;
}
@media (max-width: 1280px) {
  .footer__input_wrapper {
    margin-right: 20px;
  }
}
@media (max-width: 1000px) {
  .footer__input_wrapper {
    margin-right: 30px;
  }
}

.submit {
  margin-left: 10px;
}

.footer__donate {
  margin-top: 36px;
  flex-basis: 100%;
}
@media (max-width: 768px) {
  .footer__donate {
    margin-top: 32px;
  }
}
@media (max-width: 630px) {
  .footer__donate {
    margin-top: 33px;
  }
}

.footer__social {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer__social {
    margin-top: 0px;
    position: absolute;
    right: 20px;
    top: 10px;
  }
}
@media (max-width: 630px) {
  .footer__social {
    margin-top: 25px;
    padding: 0 54px;
    position: relative;
    right: 0;
    top: 0;
  }
}

.footer__social__link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 768px) {
  .footer__social__link {
    display: flex;
    flex-direction: column;
    height: 164px;
    justify-content: space-between;
  }
}
@media (max-width: 630px) {
  .footer__social__link {
    flex-direction: row;
    height: 26px;
  }
}

.social__link {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .social__link {
    margin-bottom: 0px;
  }
}

.social__link__wrapper {
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.social__name {
  margin-left: 12px;
  padding-top: 2px;
}
@media (max-width: 768px) {
  .social__name {
    display: none;
  }
}

.footer__nav {
  display: flex;
  align-items: flex-end;
  margin-left: 120px;
  padding-bottom: 5px;
}
@media (max-width: 1280px) {
  .footer__nav {
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .footer__nav {
    margin: 0;
    flex-basis: 50%;
  }
}
@media (max-width: 630px) {
  .footer__nav {
    margin-top: 19px;
    flex-basis: 100%;
  }
}

.footer__navigation {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  gap: 58px;
  align-items: flex-end;
}
@media (max-width: 1280px) {
  .footer__navigation {
    margin-left: 0px;
    margin-right: 23px;
    gap: 48px;
  }
}
@media (max-width: 768px) {
  .footer__navigation {
    margin: 0px;
    justify-content: space-between;
    gap: 37px;
  }
}
@media (max-width: 630px) {
  .footer__navigation {
    gap: none;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 100;
  line-height: 130%;
}
@media (max-width: 1280px) {
  .footer__copyright {
    padding-bottom: 8px;
  }
}
@media (max-width: 768px) {
  .footer__copyright {
    padding-left: 9%;
    margin-top: 69px;
    flex-basis: 48%;
    align-items: flex-start;
  }
}
@media (max-width: 630px) {
  .footer__copyright {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 100;
    line-height: 120%;
    margin-top: 30px;
    padding-left: 22%;
  }
}

.footer__school {
  margin-top: 10px;
}

.footer__logoBox {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 100;
  line-height: 130%;
}/*# sourceMappingURL=style.css.map */