.donate {
  background: $color-donade-bg;
}

.wrapper__donate {
  // height: 1482px;
  height: auto;
  padding: 40px 220px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-white-text;
  @include media-laptop-interim {
    padding: 40px 60px 40px;
  }
  @include media-tablet {
    // align-items:flex-start;
    padding: 40px 30px 30px;
  }
  @include media-tablet-interim {
    padding: 35px 20px 35px;
  }
  @include media-mobile {
    padding: 30px 20px 46px;
  }
  @include media-mobile-interim {
    padding: 30px 10px 20px;
  }
}

.donate__title {
  @include media-laptop-interim {
    align-self: flex-start;
    max-width: 778px;
  }
  @include media-tablet-interim {
    @include font($size: 2.4rem, $height: 120%, $weight: 400);
  }
  @include media-mobile-interim {
    max-width: 300px;
  }
}

.donate__text {
  margin-top: 10px;
  @include font($size: 1.6rem, $height: 2.24rem, $weight: 500);
  @include media-laptop-interim {
    margin-top: 30px;
  }

  @include media-tablet-interim {
    // @include font($size: 1.6rem, $height: 140%, $weight: 500);
    margin-top: 20px;
  }
  @include media-mobile-interim {
    @include font($size: 1.6rem, $height: 139%, $weight: 500);
    // margin-top: 20px;
  }
}

.donate__info {
  margin-top: 45px;
  align-self: flex-start;
  color: $color-frend-title;
  @include media-tablet-interim {
    // @include font($size: 1.6rem, $height: 140%, $weight: 500);
    margin-top: 30px;
  }
  @include media-mobile-interim {
    @include font($size: 2.4rem, $height: 120%, $weight: 500);
    margin-top: 29px;
  }
}

.donate__card {
  width: 1160px;
  height: 964px;
  background-color: $color-donate-card-bg;
  border-radius: 20px;
  margin-top: 60px;
  padding: 40px 92px 61.9px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  @include media-laptop-interim {
    padding: 20px 47px 45.98px;
    margin-top: 40px;
    max-width: 940px;
    height: auto;
  }
  @include media-tablet-interim {
    // @include font($size: 1.6rem, $height: 140%, $weight: 500);
    margin-top: 30px;
    max-width: 600px;
    padding: 30px 0px 30.98px;
  }
  @include media-mobile-interim {
    // @include font($size: 1.6rem, $height: 140%, $weight: 500);
    margin-top: 30px;
    max-width: 300px;
    padding: 20px 0px 19.98px;
  }
  
}

.donate__card__title {
  margin-left: 250px;
  color: $color-frend-title;
  @include media-laptop-interim {
    margin-left: 200px;
  }
  @include media-tablet {
    margin-left: 184px;
  }
  @include media-tablet-interim {
    margin-left: 69px;
  }
  @include media-mobile-interim {
    @include font($size: 2.4rem, $height: 120%, $weight: 400);
    margin-left: 34px;
  }
}

.donate__card__text {
  margin-top: 20px;
  @include font($size: 2.4rem, $height: 120%, $weight: 400);
  color: $color-text;
  @include media-laptop-interim {
    margin-top: 10px;
  }
  @include media-tablet-interim {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
  @include media-mobile-interim {
    margin-top: 10px;
    @include font($size: 1.6rem, $height: 140%, $weight: 400);
  }
}

.donate__diet__wrapper {
  padding-left: 216px;
  margin-top: 60px;
  display: flex;
  align-items: center;

  @include media-laptop-interim {
    padding-left: 190px;
  }
  @include media-laptop-interim {
    padding-left: 150px;
  }
  @include media-tablet-interim {
    margin-top: 50px;
    padding-left: 27px;
  }
  @include media-mobile-interim {
    padding-left: 0px;
    margin-top: 8px;
  }

  .donate__diet__four {
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    margin-right: 11px;
    @include media-mobile-interim {
      padding-top: 35px;
    }
  }

  
  .donate__diet__number {
    @include font($size: 7.2rem, $height: 80%, $weight: 500);
    text-align: center;
    text-transform: uppercase;
    color: $color-header-bg;
    
    @include media-mobile-interim {
      @include font($size: 4.06015rem, $height: 80%, $weight: 500);
    }
    
  }
  
  .donate__diet__text {
    margin-top: 12px;
    @include font($size: 1.6rem, $height: 140%, $weight: 400);
    text-align: center;
    color: $color-text;
    
    @include media-mobile-interim {
      margin-top: 9px;
      width: 90px;
      @include font($size: 0.902255rem, $height: 140%, $weight: 400);
    }
  }

  .donate_diet__X {
    display: block;
    width: 14px;
    height: 14px;
    background: url("../../assets/img/png/x_icon.png");
    background-repeat: no-repeat;
    // background-position: center;
    // padding-top: 43px;
    margin-top: 24px;
    margin-right: 64px;
    @include media-mobile-interim {
      width: 9px;
      height: 9px;
      background: url("../../assets/img/png/320.png");
      margin-right: 30px;
    }
  }
}

.donate_diet__panda {
  display: block;
  width: 284px;
  height: 246px;
  background: url("../../assets/img/png/panda_widget1.png");
  @include media-mobile-interim {
    width: 161px;
    height: 139px;
    background: url("../../assets/img/png/panda_widget320.png");
  }
}

.donate__slider__container {
  margin-top: 50px;
  width: 976px;
  @include media-laptop-interim {
    margin-left: 20px;
    width: 830px;
  }
  @include media-tablet {
    margin-top: 50px;
    margin-left: 8px;
  }
  @include media-tablet-interim {
    margin-top: 40px;
    margin-left: 0px;
    width: 600px;
  }

  .donate__slider_title {
    @include font($size: 1.6rem, $height: 140%, $weight: 400);
    color: $color-text;
    @include media-tablet-interim {
      margin-left: 10px;
    }
  }
}

.donate__slider {
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 27px;
  background: $color-range-bg1;
  // padding-bottom: -12.5px;
  // z-index: 2;
  @include media-tablet-interim {
    margin-top: 5px;
  }
}

.donate__range_label__container {
  pointer-events: none;
  position: absolute;
  top: 9px;
  margin-left: 25px;
  height: 10px;
  width: 920px;
  display: flex;
  justify-content: space-between;
  @include media-laptop-interim {
    width: 800px;
    margin-left: 15px;
  }
  @include media-tablet-interim {
    width: 530px;
    margin-left: 35px;
  }
}

.donate__range_label {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: $color-label;
  @include media-laptop-interim {
    &:first-child {
      display: none;
    }
  }
  @include media-tablet-interim {
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      display: none;
    }
  }
}

.donate__dollars {
  // padding-right: 25px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  @include media-laptop-interim {
    // margin-left: 18px;
    justify-content: flex-start;
    gap: 60px;
  }
  @include media-tablet-interim {
    margin-left: 0px;
    gap: 60px;
  }
}

.donate__value__wrapper {
  width: 72px;
  display: flex;
  align-items: center;

  &:nth-child(3) p {
    //  display: none;
    color: $color-frend-title;
  }
  &:nth-child(3) div {
    //  display: none;
    background: url("../../../assets/img/png/S_value_active.png");
  }

  @include media-laptop-interim {
    &:first-child {
      display: none;
    }
    &:nth-child(2) {
      margin-left: 10px;
    }
    &:nth-child(6) {
      margin-left: 10px;
    }
    &:nth-child(7) {
      margin-left: 30px;
    }
    &:nth-child(3) p {
      //  display: none;
      color: $color-frend-title;
    }
    &:nth-child(3) div {
      //  display: none;
      background: url("../../../assets/img/png/S_value_active.png");
    }
  }
  @include media-tablet-interim {
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(4) {
      margin-left: 15px;
    }
    &:nth-child(5) {
      margin-left: 0px;
    }
    &:nth-child(6) {
      margin-left: 0px;
    }
    &:nth-child(6) p {
      //  display: none;
      color: $color-frend-title;
    }
    &:nth-child(6) div {
      //  display: none;
      background: url("../../../assets/img/png/S_value_active.png");
    }
    &:nth-child(7) {
      margin-left: 0px;
    }
  }

  .donate__s {
    width: 10px;
    height: 20px;
    background: url("../../assets/img/png/S_value.png");
  }

  .donate_value {
    margin-left: 3px;
    @include font($size: 2.6rem, $height: 140%, $weight: 500);

    text-transform: uppercase;

    color: $color-text;
  }
}

.donate__cash[type="number"] {
  margin-left: 355px;
  margin-top: 48px;

  background: url("../../assets/img/png/S2.png");
  background-repeat: no-repeat;
  background-position-x: 248px;
  background-position-y: center;
  @include media-laptop-interim {
    margin-left: 300px;
  }

  @include media-tablet {
    margin-left: 290px;
  }
  @include media-tablet-interim {
    margin-top: 50px;
    margin-left: 210px;
    width: 180px;
    height: 42px;
  }
}

.donate__how {
  @include font($size: 1.6rem, $height: 140%, $weight: 400);
  color: $color-text;
  position: relative;
  margin: 27px auto 26px 382px;
  @include media-laptop-interim {
    margin-left: 330px;
  }

  @include media-tablet {
    margin-left: 316px;
  }
  @include media-tablet-interim {
    margin-top: 30px;
    margin-left: 192px;
  }

  input {
    width: 18px;
    height: 18px;
    position: absolute;
    opacity: 0;
  }

  .donate__monthly {
    width: 18px;
    height: 18px;
    top: 4px;
    left: 3px;
    transform: scale(1.4);
  }

  .donate__once {
    width: 18px;
    height: 18px;
    top: 4px;
    left: 140px;
    transform: scale(1.6);
  }

  .donate__monthly_label {
    margin-right: 45px;
  }

  input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  input + label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid orange;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  input:not(:disabled):not(:checked) + label:hover::before {
    border-color: orange;
  }

  input:not(:disabled):active + label::before {
    background-color: orange;
    border-color: orange;
  }

  input:focus + label::before {
    box-shadow: 0 0 0 0.2rem orange;
  }

  input:focus:not(:checked) + label::before {
    border-color: orange;
  }

  input:checked + label::before {
    border-color: orange;
    background-color: orange;
  }

  input:disabled + label::before {
    background-color: orange;
  }
}

.button__donate {
  margin-left: 342px;
  @include media-laptop-interim {
    margin-left: 290px;
  }

  @include media-tablet {
    margin-left: 276px;
  }
  @include media-tablet-interim {
    margin-left: 152px;
  }
}

.donate__share__text {
  margin-left: 342px;
  margin-top: 30px;
  @include font($size: 1.6rem, $height: 140%, $weight: 400);
  color: $color-text;
  @include media-laptop-interim {
    margin-left: 290px;
  }

  @include media-tablet {
    margin-left: 273px;
  }
  @include media-tablet-interim {
    margin-left: 152px;
  }
}
