.footer {
  background: $color-footer-bg;
}

.wrapper__footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 220px 50px;
  color: $color-white-text;
  a {
    color: $color-white-text;
    @include font($size: 1.6rem, $height: 140%, $weight: 400);
  }
  .navigation__link_activ {
    color: $color-border;
  }
  & > * {
    order: 3;
  }
  @include media-laptop-interim {
    padding: 40px 50px 50px 43px;
  }
  @include media-tablet {
    padding: 40px 18px 50px 43px;
  }
  @include media-tablet-interim {
    padding: 22px 20px 20px 25px;
  }
  @include media-mobile {
    padding: 13px 20px 12px 20px;
  }
  @include media-mobile-interim {
    padding: 20px 10px;
    flex-direction: column;
    .footer__logo {
      order: 1;
    }
    .footer__social {
      order: 2;
    }
    .footer__nav {
      order: 5;
    }
  }
}

.wrapper__footer_donate{
  @include media-laptop-interim {
    padding: 40px 30px 50px 30px;
  }
  @include media-tablet-interim {
    padding: 13px 20px 12px 20px;
  }
}

.footer__logo{
@include media-mobile-interim {
display: flex;
justify-content: center;
}
}

// .footer_logo {
//   // flex-grow: 2;
// //   width: 853px;
// }

// // START footer__subscribe

.footer__subscribe {
  @include media-tablet-interim {
    display: none;
  }
}

.footer__subscribe__title {
  @include font($size: 2.4rem, $height: 120%, $weight: 400);
}

.footer__input_wrapper {
  margin-top: 14px;
  display: flex;
  align-items: center;
  @include media-laptop-interim {
    margin-right: 20px;
  }
  @include media-tablet {
    margin-right: 30px;
  }
}

.submit {
  margin-left: 10px;
}

// END footer__subscribe

.footer__donate {
  // flex-grow: 3;
  margin-top: 36px;
  flex-basis: 100%;
  @include media-tablet-interim {
    margin-top: 32px;
  }
  @include media-mobile-interim {
    margin-top: 33px;
  }
}

.footer__social {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  @include media-tablet-interim {
    // height: 164px;
    // gap: 30px;
    // justify-content: space-between;
    margin-top: 0px;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  @include media-mobile-interim {
    margin-top: 25px;
    padding: 0 54px;
    position: relative;
    right: 0;
    top: 0;
  }
}

.footer__social__link {
  @include font($size: 1.6rem, $height: 140%, $weight: 400);
  @include media-tablet-interim {
    display: flex;
    flex-direction: column;
    height: 164px;
    justify-content: space-between;
  }
  @include media-mobile-interim {
    flex-direction: row;
    height: 26px;
  }
}

.social__link {
  margin-bottom: 10px;
  @include media-tablet-interim {
    margin-bottom: 0px;
  }
}

.social__link__wrapper {
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.social__name {
  margin-left: 12px;
  padding-top: 2px;
  @include media-tablet-interim {
    display: none;
  }
}

.footer__nav {
  display: flex;
  align-items: flex-end;
  margin-left: 120px;
  padding-bottom: 5px;
  @include media-laptop-interim {
    padding-bottom: 10px;
  }
  @include media-tablet-interim {
    margin: 0;
    // padding-bottom: 10px;
    flex-basis: 50%;
  }
  @include media-mobile-interim {
    // padding: 0 9px;
    margin-top: 19px;
    // padding-bottom: 10px;
    flex-basis: 100%;
  }
}

.footer__nav_donate{
  padding-bottom: 10px;
  @include media-laptop-interim {
    padding-left: 20px;
  }
  @include media-tablet-interim {
    padding-left: 0px;
  }
}

.footer__navigation {
  @include font($size: 1.6rem, $height: 140%, $weight: 400);
  display: flex;
  gap: 58px;
  align-items: flex-end;
  @include media-laptop-interim {
    margin-left: 0px;
    margin-right: 23px;
    gap: 48px;
  }
  @include media-tablet-interim {

    margin: 0px;
    justify-content: space-between;
    gap: 37px;
  }
  @include media-mobile-interim {
    // padding: 0 1px;
    gap: none;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5px;
  a {
    color: $color-white-text;
    @include font($size: 1.6rem, $height: 140%, $weight: 100);
  }
  // @include font($size: 1.6rem, $height: 130%, $weight: 100);
  @include media-laptop-interim {
    padding-bottom: 8px;
  }
  @include media-tablet-interim {
    padding-left: 9%;
    margin-top: 69px;
    flex-basis: 48%;
    align-items: flex-start;
  }
  @include media-mobile-interim {
    @include font($size: 1.5rem, $height: 120%, $weight: 100);
    margin-top: 30px;
    padding-left: 22%;
  }
}

.footer__copyright_donate{
  @include media-tablet-interim {
    padding-left: 58px;
    // padding-bottom: 0px;
  }
}

.footer__school {
  margin-top: 10px;
}

.footer__logoBox {
  color: $color-white-text;
  @include font($size: 1.6rem, $height: 130%, $weight: 100);
}
