.wrapper__main {
  // overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backstage {
  display: flex;
  justify-content: space-between;
  gap: 87px;
  padding: 140px 220px 0;
  color: $color-text;

  @include media-laptop-interim {
    overflow: hidden;
    padding: 120px 70px 0;
    gap: 40px;
  }

  @include media-tablet {
    // overflow: hidden;
    padding: 109px 30px 0;
    gap: 31px;
  }

  @include media-tablet-interim {
    overflow: visible;
    padding: 80px 30px 0;
    gap: 15px;
  }

  @include media-mobile {
    // overflow: visible;
    align-self: flex-start;
    padding: 60px 125px 0 20px;
    gap: 0px;
  }

  @include media-mobilesmall {
    // overflow: visible;
    padding: 29px 10px 0;
    // gap: 0px;
  }
}

.backstage__img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  @include media-laptop-interim {
    width: 509px;
    height: 403px;
  }

  @include media-tablet {
    min-width: 455px;
    height: 408px;
    // & img {
    //   height: 100%;
    // }
  }
  @include media-tablet-min {
    display: none;
  }
}

.backstage__content__wrapper {
  max-width: 465px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  h4 {
    margin-bottom: 14px;
  }

  @include media-tablet {
    gap: 0px;
    margin-top: -10px;
    justify-content: flex-start;
  }

  @include media-mobile {
    max-width: 495px;
    margin-top: 0px;
    gap: 0px;
    h3,
    h4 {
      // display: block;
      padding-left: 5px;
    }
  }

  @include media-mobilesmall {
    max-width: 300px;
    margin-top: 0px;
    gap: 0px;
    h3,
    h4 {
      // display: block;
      padding-left: 0px;
      margin-bottom: 0px;
    }
  }
}
.backstage__content__title {
  @include media-mobile-interim {
    @include font($size: 2.4rem, $height: 120%, $weight: 400);
  }
}

.backstage__annotation {
  @include font($size: 1.6rem, $height: 130%, $weight: 400);
  margin-bottom: 34px;
  @include media-tablet-interim {
    margin-bottom: 20px;
  }
  @include media-tablet {
    margin-top: 23px;
    margin-bottom: 55px;
  }

  @include media-mobile {
    margin-top: 20px;
    margin-bottom: 32px;
  }

  @include media-mobile-interim {
    margin-top: 18px;
    margin-bottom: 26px;
  }

  @include media-mobilesmall {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.backstage__description {
  @include font($size: 1.6rem, $height: 140%, $weight: 400);

  @include media-laptop-interim {
    @include font($size: 1.6rem, $height: 135%, $weight: 400);
  }
  @include media-tablet {
    margin-top: 17px;
  }
  @include media-mobile {
    margin-top: 7px;
  }
  @include media-mobile-interim {
    margin-top: 11px;
  }
}

/* Start Slider ------------------------ */

.slider {
  position: relative;
  margin-top: 180px;
  padding: 0 220px;
  @include media-laptop-interim {
    margin-top: 145px;
    padding: 0 40px;
  }
  @include media-tablet {
    padding: 0 30px;
    margin-top: 70px;
  }
  @include media-tablet-interim {
    margin-top: 80px;
    padding: 0 20px;
  }

  @include media-mobile {
    margin-top: 9px;
  }
  @include media-mobile-interim {
    margin-top: 40px;
  }
  @include media-mobilesmall {
    padding: 0 24.76px 0 10px;
  }
}


.slider__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: $color-default;
  @include media-mobile-interim {
 display: none;
  }
}

.slider__arrow_left {
  position: absolute;
  top: 50%;
  left: 140px;
  transform: translateY(-42px);
  @include media-laptop-interim {
    left: 35%;
    transform: translateY(0px);
  }
  @include media-tablet-interim {
    left: 38%;
    transform: translateY(-10px);
  }
}

.slider__arrow_right {
  position: absolute;
  top: 50%;
  right: 140px;
  transform: translateY(-42px);
  @include media-laptop-interim {
    right: 35%;
    transform: translateY(0px);
  }
  @include media-tablet-interim {
    right: 38%;
    transform: translateY(-10px);
  }
}



.slider__cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
  .slider__card_alligators {
    display: none;
  }

  .slider__card_panda,
  .slider__card_eagles,
  .slider__card_gorillas,
  .slider__card_two-toed,
  .slider__card_two-cheetahs,
  .slider__card_two-penguins,
  .slider__card_alligators {
    order: 0;
  }

  @include media-tablet {
    .slider__card_gorillas {
      order: 1;
    }
    .slider__card_two-toed{
      display: none;
    }
    .slider__card_alligators {
      display: flex;
      order: 1;
    }
    .slider__card_two-penguins{
      order: 3;
    }
  }
  @include media-tablet-min {
    column-gap: 10%;
    .slider__card_two-toed,
    .slider__card_two-cheetahs,
    .slider__card_two-penguins{
      display: none;
    }
  }
  @include media-tablet-interim {
    column-gap: 3%;
  }


  @include media-mobile-interim {
   flex-direction: column;
     }

}

.slider__card {
  height: 426px;
  max-width: 366px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: solid 1px $color-border;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .slider__card__img {
      display: none;
    }
    img {
      transform: scale(1.1);
      z-index: 2;
    }
    .slider__card__wrapper {
      position: relative;
      transform: translateY(-45px);
      @include font($size: 2.6rem, $height: 120%, $weight: 700);
      color: white;
      z-index: 3;
      &::before {
        position: absolute;
        left: 0;
        content: "";
        background-color: $color-focus;
        height: 150px;
        width: 366px;
        z-index: -1;
      }
    }
  }
  @include media-laptop-interim {
    height: 354px;
    max-width: 294px;
    margin-top: 73px;
  }
  @include media-tablet-min {
    height: 332px;
    max-width: 285.24px;
    // margin-top: 73px;
  }

  @include media-mobile-interim {
    margin-top: 0px;
      }
}

.slider__card__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px 10px 12px;
}

.slider__card__img {
  position: relative;
  padding-top: 7px;
  width: 48px;
  height: 40px;
  img {
    position: absolute;
    right: 0px;
    top: 1px;
    width: 48px;
    height: 40px;
  }
}

.slider__card__title {
  margin-top: 1px;
  text-transform: uppercase;

}

.slider__card__description {
  @include font($size: 1.5rem, $height: 120%, $weight: 300);
}


/* End Slider */

.main__button {
  margin: 60px 0px 100px;
  @include media-laptop-interim {
    margin: 60px 0px 140px;
  }
  @include media-mobile {
    // right: 35%;
    margin: 38px 0px 100px;
  }
  @include media-mobile-interim {
    // right: 35%;
    margin: 20px 0px 80px;
  }
  @include media-mobilesmall {
    // right: 35%;
    margin: 0px 0px 60px;
  }
}




.main__bacgraund__img__flower {
  height: 605px;
  width: 200px;
  background: url("../../assets/img/png/flower_foto1.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: -1;
  @include media-laptop-interim {
    display: none;
  }
  // @include media-tablet-min {
  //   display: block;
  // }
  @include media-tablet-min {
    display: block;
    width: 128px;
    height: 476px;
    background: url("../../assets/img/png/flower_foto1000.png");
    top: -5px;
    right: 0px;
    // img {
    //   width: 231px;
    //   height: 476px;
    // }
  }
  @include media-mobile {
    top: -5px;
    // right: 0px;
  }
  @include media-mobile-interim {
    height: 225px;
    width: 35px;
    background: url("../../assets/img/png/flower_foto320.png");
    top: 0px;
    // right: 0px;
  }
  @include media-mobilesmall {
    top: -40px;
    // right: 0px;
  }
}


.main__bacgraund__img__strelitzia {
  display: block;
  height: 275px;
  width: 368px;
  background: url("../../../assets/img/png/strelitzia.png");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  @include media-laptop-interim {
    height: 180px;
    width: 241px;
    background: url("../../assets/img/png/strelitzia1.png");
    // background-repeat: no-repeat;
    // bottom: 0px;
    // right: 0px;
  }
  @include media-mobile-interim {
    height: 71px;
    width: 68px;
    background: url("../../assets/img/png/strelitzia320.png");
    // top: 0px;
    // right: 0px;
  }
}

.main__bacgraund__img__palm {
  display: block;
  width: 292px;
height: 460px;
  background: url("../../../assets/img/png/palm_foto.png");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  @include media-laptop-interim {
    height: 202px;
    width: 194px;
    background: url("../../assets/img/png/palm_foto1000.png");
    background-repeat: no-repeat;
    // bottom: 0px;
    // left: 0px;
  }
  @include media-mobile-interim {
    height: 72px;
    width: 58px;
    background: url("../../assets/img/png/palm_foto320.png");
    // top: 0px;
    // right: 0px;
  }


}