.testimonials{
  position: relative;

}
.wrapper__testimonials {

  padding: 140px 220px 180px;

  @include media-laptop-interim {
    padding: 120px 80px 160px;
}
  @include media-tablet {
    padding: 100px 30px 140px;
}
  @include media-tablet-interim {
    padding: 80px 25px 100px;
}
  @include media-mobile {
    padding: 60px 20px 80px;
}
  @include media-mobile-interim {
    padding: 40px 10px 70px;
}
  @include media-mobilesmall {
    padding: 30px 10px 60px;
}
}

.testimonials__header {
  @include font($size: 3.6rem, $height: 130%, $weight: 400);
  text-align: center;
  color: $color-text;
  @include media-mobile-interim {
    @include font($size: 2.4rem, $height: 120%, $weight: 400);
}
  @include media-tablet-interim {
   margin-top: 1px;
}
}

.testimonials__cards__wrapper{
width: 100%;
// background-color: aqua;
// overflow: hidden;
}

.testimonials__cards {
  padding: 0 2px;

  display: flex;
  gap: 28px;
  margin-top: 47px;
  // & > .testimonials__card{
  //   order:1;
  // }
//   .testimonials__card_oska{
// display: none;
//   }
  @include media-laptop1599 {
   flex-wrap: wrap;
   justify-content: center;
  }
  @include media-laptop-interim {
    margin-top: 30px;

}

// @include media-tablet {
//   .testimonials__card_oska{
// display: block;
//   }
//   .testimonials__card_mila, .testimonials__card_oskar{
//     display: none;
//       }
//       .testimonials__card_michael{
//         order: -1;
//       }
//       .testimonials__card_oska{
//         order: -0;
//       }
//       // .testimonials__card_oskar{
//       //   order: 2;
//       // }
//       .testimonials__card_fredericka{
//         order: 1;
//       }
// }
  @include media-tablet-interim {
    // display: block;
    height: 360px;
    gap: 5px;
    margin-top: 30px;
// flex-direction: column;
}
@include media-mobile-interim {
  margin-top: 24px;
}

}

// .testimonials__card_michael,  {
// order:1;
// }

.testimonials__card {
  margin-bottom: 15px;
  padding: 15px 15px 19px 15px;
  position: relative;
  min-width: 268px;
  height: 391px;
  background-color: $color-submit-bg;
  border-radius: 20px;
  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: $color-testimonials-border;
    border-image-slice: 1;
    z-index: -1;
    border-radius: 20px;
  }
  @include media-laptop-interim {
    min-width: 293px;
    height: 391px;
}
@include media-tablet-interim {
  padding: 15px 15px 5px 10px;
  max-width: 596px;
  height: 105px;
}
@include media-mobile-interim {
  // margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

}


.testimonials__card__header {
  display: flex;
  img{
    width: 37px;
    height: 37px;
  }
}

.testimonials__card__header__wrapper {
  margin-left: 10px;
}

.testimonials__name {
  @include font($size: 1.6rem, $height: 120%, $weight: 400);
}

.testimonial__data {
  display: flex;
  @include font($size: 1.5rem, $height: 120%, $weight: 300);
  color: $color-local;
}

.testimonial__data__local {
  margin-right: 6px;
}

.testimonial__data__date {
  margin-left: 5px;
}

.testimonial__text {
  overflow: auto;
  max-width: 237px;
  height: 309px;
  margin-top: 10px;
  @include font($size: 1.5rem, $height: 120%, $weight: 300);
  color: $color-local-text;

  @include media-laptop-interim {
    max-width: 259px;
    // height: 37px;
  }
  @include media-tablet-interim {
    max-width: 565px;
    height: 37px;
  }
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}


.slider-testimonials-container {
margin-top: 5px;
display: flex;
justify-content: center;
@include media-laptop-interim {
  margin-top: 4px;
}
@include media-tablet-interim {
display: none;
}
}



.testimonial__button{
margin-top: 26px;
@include media-laptop-interim {
  margin-top: 50px;
}
@include media-tablet-interim {

  margin-top: 36px;

}
@include media-mobile-interim {
  margin-top: 24px;
}
}

.button_rectangle_testimonial{
  @include media-tablet-interim {

    width: 240px;
    display: block;
  margin: 0 auto;
  }
}


.testimonial__background__img{
  display: block;
  width: 247px;
  height: 408px;
  position: absolute;
  bottom: -135px;
  right: 0px;
  background-image: url("../../assets/img/png/palm1600.png");
  background-repeat: no-repeat;
z-index: -1;
@include media-laptop-interim {
  bottom: -85px;
  height: 325px;
  width: 196px;
  background-image: url("../../assets/img/png/palm1000.png");
}
@include media-mobile {
  bottom: -70px;
  height: 204px;
  width: 116px;
  background-image: url("../../assets/img/png/palm640.png");
}
@include media-mobile-interim {
  bottom: -30px;
  height: 94px;
  width: 51px;
  background-image: url("../../assets/img/png/palm320.png");
}
}

