.race, .results{
  font-size: 1.6rem;
}

.race__inputs,
.wrapper-track, .race__pagination, .results {
  padding-top: 20px;
}

.race__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.wrapper-track, .results{
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.results{
  max-width: 480px;
  margin: 0 auto;
}


.track__car{
  position: relative;
  height: fit-content;
  border-bottom: dotted 2px black;
}

.container__track__car-svg{
  position: relative;
}

.track__car-image{
  position: absolute;
  top: -20px;
  left: 15px;
  width: 50px;
  height: 50px;
  // fill:blue;
}

.track__finish {
  position: absolute;
  top: 0px;
  right: 90px;
  width: 40px;
}

.race__pagination {
  padding-top: 20px;
  display: flex;
  gap: 10px;
}

.results__winners{
text-align: center;
font-weight: 600;
}

.wins-sort, .time-sort{
  user-select: none;
  cursor: pointer;
color: rgb(41, 163, 4);

&:active{
  color: aqua;
}
}