.main__game {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @extend %transition;

  @include desktop {
    width: 87%;
  }

  @include tablet {

    width: 93%;
  } 
  @include mobile {
    width: 98%;
  }  
}

.game__select {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: $color-body-background;
  border-radius: 0.5rem;
  @include font($size: 2.4rem, $height: 120%, $weight: 400, $style: italic);
  padding: 0.5rem;
}

.game__select__item {
  padding: 0.5rem;
  border-radius: 5px;
  @include desktop {
    @include font($size: 2rem, $height: 130%, $weight: 400);
  }
  @include tablet {
    @include font($size: 1.8rem, $height: 120%, $weight: 300);
  }
  @include mobile {
    @include font($size: 1.6rem, $height: 120%, $weight: 200);
  }
}

.game__random {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  background-color: $color-body-background;
  border-radius: 5px;
  margin-bottom: 2rem;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.game__random__image {
  min-width: 200px;
  min-height: 155px;
  border-radius: 10px;
  background-image: url(./assets/img/jpg/bird_default.jpg);
  background-repeat: no-repeat;
}

.game__random__description {
  width: calc(100% - 200px);
  text-align: center;
  @include mobile {
    width: 90%;
  }
}

.game__random__name, .game__card__name {
  @include font($size: 2rem, $height: 140%, $weight: 400, $style: normal);
  border-bottom: 3px solid $color-line;
  margin: 1rem 0;
}

.wraper-time {
  display: flex;
  justify-content: space-between;
}

.wrapper-mute,
.wrapper-play {
  display: flex;
  gap: 1rem;
  padding: 0.2rem;
}

.play {
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
  background: $color-button;
  border-radius: 5px;
  background-image: url(./assets/img/svg/play.svg);
  background-repeat: no-repeat;
  &:hover{
    background-color: $color-hover;
  }
  &:active {
    color: $color-BLACK;
    background-color: $color-active;
  }
}

.play_pause {
  background-image: url(./assets/img/svg/pause.svg);
}

.mute {
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
  background: $color-button;
  border-radius: 5px;
  @extend %transition;
  background-image: url(./assets/img/svg/sound.svg);
  background-repeat: no-repeat;
  &:hover {
    background-color: $color-hover;
  }
  &:active {
    color: $color-BLACK;
    background-color: $color-active;
  }
}

.mute_pause {
  background-image: url(./assets/img/svg/audiof_mute.svg);
}

.range_all {
  width: 100%;
}

.game__play__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  margin-bottom: 2rem;
  @include tablet {
flex-direction: column;
}
}

.game__choice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 48%;
  border-radius: 0.5rem;
  flex: 0 0 auto;
  @include tablet {
    width: 100%;
    }
}

.game__choice__item {
  @include font($size: 2rem, $height: 140%, $weight: 400, $style: normal);
  cursor: pointer;
  padding: 0.85rem 1.25rem;
  border: 1px solid $color-line;
  background-color: $color-body-background;
  @extend %transition;
  @include desktop {
    @include font($size: 1.9rem, $height: 130%, $weight: 400);
  }
  @include tablet {
    @include font($size: 1.8rem, $height: 120%, $weight: 300);
  }
  @include mobile {
    @include font($size: 1.6rem, $height: 120%, $weight: 200);
  }

  &:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  &:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  &:hover {
    background-color: $color-hover;
    color: $color-BLACK;
  }
  &:active {
    color: $color-BLACK;
    background-color: $color-active;
  }

}

.game__choice__item-btn {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: $color-line;
  margin-right: 1.5rem;
}

.game__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  padding: 0.5rem;
  background-color: $color-body-background;
  border-radius: 0.5rem;
  @include tablet {
    width: 100%;
    }
}


.game__card__bird{
  // background-color: rgb(194, 245, 170);
width: 100%;
display: flex;
gap: 1rem;
margin-bottom: 1rem;

// @include tablet {

// }
@include mobile {
 flex-direction: column;
 align-items: center;
}
}


.game__card__image {
  min-width: 200px;
  min-height: 155px;
  border-radius: 10px;
  background-image: url(./assets/img/jpg/bird_default.jpg);
  background-repeat: no-repeat;
}


.game__card__species {
  @include font($size: 1.8rem, $height: 120%, $weight: 300, $style: normal);
  border-bottom: 3px solid $color-line;
  margin: 1rem 0;
}

.game__card__description {
  width: calc(100% - 200px);
  text-align: center;
  @include mobile {
   width: 100%;
   }
}

.card-audio__wrapper{
width: 100%;
margin-bottom: 1rem;
}


.description-card{
  @include font($size: 1.8rem, $height: 120%, $weight: 300, $style: normal);
}



.game__next{
  padding: 0.5rem;
display: flex;
width: 100%;
justify-content: space-around;
gap: 0.5rem;
background-color: $color-body-background;
border-radius: 0.5rem;
}

.game__next-button{
  color: $color-body-text;
border: none;
width: 48%;
border-radius: 0.5rem;
background-color: $color-button;
@extend %transition;


@include desktop {
  width: 40%;
}
@include tablet {
  width: 37%;
}
@include mobile {
  width: 35%;
}


&:hover {
  background-color: $color-hover;
  color: $color-BLACK;
}
&:active {
  color: $color-BLACK;
  background-color: $color-active;
}
}

.game__next-button, .game__next-score{
  @include font($size: 2.4rem, $height: 120%, $weight: 400, $style: italic);
  @include desktop {
    @include font($size: 2rem, $height: 130%, $weight: 400);
  }
  @include tablet {
    @include font($size: 1.8rem, $height: 120%, $weight: 300);
  }
  @include mobile {
    @include font($size: 1.6rem, $height: 120%, $weight: 200);
  }
}

.game__score__count{
  margin-left: 0.3rem;
}