.wrapper {
    max-width: $content-width;
    overflow: hidden;
    margin: 0 auto;
    // background-color: rgb(5, 99, 99);

    // @include media-laptop {
    //     padding: 0 46px;
    // }
    // @include media-mobile {
    //     padding: 0 21px;
    // }
}