.logoBox {
  color: $color-white-text;
}
.logo {
  width: 82px;
  height: 52px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid $color-white-text;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logoText {
    @include font($size: 1.9rem, $height: 120%, $weight: 400);
    text-align: center;
  }

  .logoImg {
    background-image: url("../../assets/img/svg/bamboo.svg");
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    width: 15.03px;
    height: 25.98px;
    left: 7px;
    top: 19px;
  }
}
.logo_footer {
  border: 0.5px solid $color-white-text;
}
