body {
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  padding: 10px 30px;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
}

.main {
  flex: 1;
}

.alfaBet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  padding: 5px;
}

.alfaBet__item {
  user-select: none;
  font-size: 24px;
  cursor: pointer;
  list-style-type: none;
}

.alfaBet__item:hover {
  border-color: #3fcc59;
  color: #69db7e;
  text-shadow: 1px 1px 2px red, 0 0 1em #3fcc59, 0 0 0.2em #3fcc59;
  transform: translateY(-0.05em);
}


.alfaBet__item_active {
  color: #70d6ff;
}

footer {
  height: 100px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

footer .copyright {
  font-size: 14px;
  color: #333;
  text-align: center;
}

footer .copyright a {
  color: #444;
}

footer .copyright a:hover {
  color: #555;
}

footer .copyright:before {
  content: "©";
}

.footer__links-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
}

.footer__link {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: green;
  border-radius: 5px;
}

.footer__link_git {
  width: 30px;
  height: 30px;
  background: url("/src/assets/img/svg/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer__link_rs-scool {
  width: 120px;
  height: 30px;
  background: url("/src/assets/img/svg/rs_school.svg");
  background-size: contain;
  background-repeat: no-repeat;
}