$color-body-background: #222;
$color-line: #444;
$color-button: #007c5d;
$color-active:#AFD275;
$color-BLACK:rgba(0, 0, 0, 1);
$color-hover: #2fc7a1;
$color-body-text: #fff;

$color-button-border-disabled: #999999;
$color-button-color-disabled:  #cccccc;



$content-width: 1920px;
$desktop-width: 1200px;

$tablet-width: 900px;

$mobile-width: 650px;

