@mixin font ($size, $height: $size, $weight: bold, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}



// $content-width: 1600px;
@mixin media-laptop {
    @media (max-width: $content-width) { @content; }
}
// $content-width-interim: 1280px;
@mixin media-laptop-interim {
    @media (max-width: $content-width-interim) { @content; }
}
// $tablet-width: 1000px;
@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}
@mixin media-tablet-min {
    @media (max-width: calc($tablet-width - 1px)) { @content; }
}
// $tablet-width-interim: 768px;
@mixin media-tablet-interim {
    @media (max-width: $tablet-width-interim) { @content; }
}
// $mobile-big-width: 640px;
@mixin media-mobile {
    @media (max-width: $mobile-big-width) { @content; }
}
// $mobile-big-width: 630px;
@mixin media-mobile-interim {
    @media (max-width: $mobile-big-interim) { @content; }
}
// $mobile-small-width: 320px;
@mixin media-mobilesmall {
    @media (max-width: $mobile-small-width) { @content; }
}
