.wrapper__testimonials {
  position: relative;
  padding: 140px 220px 180px;
}

.testimonials__header {
  @include font($size: 3.6rem, $height: 130%, $weight: 400);
  text-align: center;
  color: $color-text;
}

.testimonials__cards {
  display: flex;
  gap: 30px;
  margin-top: 47px;
}

.testimonials__card {
  margin-bottom: 15px;
  padding: 15px 15px 19px 15px;
  position: relative;
  max-width: 268px;
  height: 391px;
  background-color: $color-testimonials-bg;
  border-radius: 20px;
  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: $color-testimonials-border;
    border-image-slice: 1;
    z-index: -1;
    border-radius: 20px;
  }
}


.testimonials__card__header {
  display: flex;
  img{
    width: 37px;
    height: 37px;
  }
}

.testimonials__card__header__wrapper {
  margin-left: 10px;
}

.testimonials__name {
  @include font($size: 1.6rem, $height: 120%, $weight: 400);
}

.testimonial__data {
  display: flex;
  @include font($size: 1.5rem, $height: 120%, $weight: 300);
  color: $color-local;
}

.testimonial__data__local {
  margin-right: 6px;
}

.testimonial__data__date {
  margin-left: 5px;
}

.testimonial__text {
  overflow: hidden;
  max-width: 237px;
  height: 309px;
  margin-top: 10px;
  @include font($size: 1.5rem, $height: 120%, $weight: 300);
  color: $color-local-text;
}


.slider-testimonials-container {
display: flex;
justify-content: center;
}


.slider-testimonials {
  display: flex;
  align-items: center;
  margin-top: 6px;
  position: relative;
  width: 599px;
  height: 8px;
  background:$color-slider;
  border-radius: 5px;
  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    background: $color-testimonials-border;
    border-image-slice: 1;
    z-index: -1;
    border-radius: 20px;
  }



}

.slider-testimonials__width {
  width: 115.19px;
height: 6px;
background: $color-frend-title;
border-radius: 5px;
}

.testimonial__button{
margin-top: 31px;
}


.testimonial__bacgraund__img{
position: absolute;
bottom: -140px;
right: 0px;
z-index: -1;
}
