.wrapper__testimonials {
  padding: 140px 220px 180px;
}

.testimonials__header {
  @include font($size: 3.6rem, $height: 130%, $weight: 400);

  text-align: center;
  color: $color-text;
}

.testimonials__cards {
  display: flex;
  gap: 30px;
  margin-top: 47px;
}

.testimonials__card {
  padding: 15px 15px 19px 15px;
  position: relative;
  max-width: 268px;
  height: 391px;
  background-color: $color-testimonials-bg;
  border-radius: 20px;
  overflow: hidden;
  // border: 1px solid ;
  &::before {
    z-index: 0;
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 1px;
    background: $color-testimonials-border;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.testimonials__card__header {
  display: flex;
}

.testimonials__card__header__wrapper {
  margin-left: 10px;
}

.testimonials__name {
  @include font($size: 1.6rem, $height: 120%, $weight: 400);
}

.testimonial__data {
  display: flex;
  @include font($size: 1.5rem, $height: 120%, $weight: 300);
  color: $color-local;
}

.testimonial__data__local {
  margin-right: 6px;
}

.testimonial__data__date {
  margin-left: 5px;
}

.testimonial__text {
  width: 237px;
  margin-top: 10px;
  @include font($size: 1.5rem, $height: 120%, $weight: 300);
  color: $color-local-text;

  // text-overflow: ellipsis
}

// .wrapper__section-panda {
//     height: 700px;
//     background: url('../../../assets/img/png/GiantPanda.png');
//     background-repeat: no-repeat;
//     background-position: 0 -80px;
//     display: flex;
//     justify-content: flex-end;
//     padding-right: 220px;
// }

// .panda__content{
//     width: 500px;
//     // margin-left: calc(50% - 500.31px/2 + 330.15px);
// }

// .panda__button{
//     margin-left: 105px;
// }

// .panda__caption {
//     position: relative;
//     padding-top: 86px;

//     height: 486px;

//     @include font($size: 10.65rem,$height: 75%, $weight: 500);
//     text-align: center;
//     text-transform: uppercase;
//     color: $color-white-text;
// z-index: 1;
//         span {
//             color: $color-favorite;
//         };
//     &::before {
//         content: '';
//         position: absolute;
//         top: 12px;
//         left: -73px;
//         display: block;
//         width: 465px;
//         height: 465px;
//         background: $color-default;
//         border-radius: 50%;
//         z-index: -1;
//     };
// }

// .panda__button {
// margin-top: 60px;
// }
