.sources {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    /* height: 130px; */
    overflow-y: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}



.sources::-webkit-scrollbar {
    width: 10px;
  }
  
  .sources::-webkit-scrollbar-track {
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80) inset;
    background-color: #f9f9fd , 0.2;
    border-radius: 10px;
  }
  
  .sources::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #30c5ff);
  }



.source__item {
    user-select: none;
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
