@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../../../assets/fonts/Roboto-Thin.woff") format("woff"), url("../../../assets/fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../../../assets/fonts/Roboto-Light.woff") format("woff"), url("../../../assets/fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../../../assets/fonts/Roboto-Regular.woff") format("woff"), url("../../../assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../../../assets/fonts/Roboto-Medium.woff") format("woff"), url("../../../assets/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../../../assets/fonts/Roboto-Bold.woff") format("woff"), url("../../../assets/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../../../assets/fonts/Roboto-Black.woff") format("woff"), url("../../../assets/fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta";
  font-display: swap;
  src: url("../../../assets/fonts/RecoletaAlt-Regular.woff") format("woff"), url("../../../assets/fonts/RecoletaAlt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Roboto", Verdana, sans-serif;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

h2 {
  margin: 0;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

h3 {
  margin: 0;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

h4 {
  margin: 0;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

h5 {
  margin: 0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.24rem;
}

a {
  text-decoration: none;
  margin: 0;
}

.button {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  width: 298px;
  height: 54px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
}
.button_rectangle {
  border-radius: 5px;
}
.button:hover {
  background: #E47209;
}
.button:active {
  background: #4B9200;
}

.submit {
  background: #F1F3F2;
  border: 2px solid #333b41;
  border-radius: 5px;
  width: 129px;
  height: 42px;
  color: rgb(0, 0, 0);
  padding: 10px 39px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.submit:focus, .submit:active, .submit:hover {
  color: rgb(75, 146, 0);
  background: #F1F3F2;
  border: 2px solid #4B9200;
}

.slider__arrow {
  cursor: pointer;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.slider__arrow:hover {
  background: #E47209;
}
.slider__arrow:active {
  background: #4B9200;
}

.slider__arrow_left_img:hover {
  transform: translateX(-3px) scale(1.2);
}

.slider__arrow_right_img:hover {
  transform: translateX(3px) scale(1.2);
}

.input {
  height: 42px;
  border-radius: 2px;
  border: 0.7px solid rgb(249, 128, 75);
  color: #BDBDBD;
  background: #111115;
  cursor: pointer;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding: 10px 7px 10px 10px;
}
.input:focus, .input:active, .input:hover {
  outline: none;
  border: 0.7px solid rgb(75, 146, 0);
}
.input::-moz-placeholder {
  color: #BDBDBD;
}
.input:-ms-input-placeholder {
  color: #BDBDBD;
}
.input::placeholder {
  color: #BDBDBD;
}
.input:invalid {
  background: #F1F3F2;
  color: red;
  border: 1px solid red;
}
.input:invalid .submit {
  color: red;
}

.input:invalid ~ .submit {
  background: #F1F3F2;
  color: red;
  border: 2px solid red;
}

.input__footer {
  width: 228px;
  height: 42px;
}

.donate__cash {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 268px;
  height: 54px;
  padding: 14px 9px;
  border: 1px solid #929699;
  border-radius: 2px;
  color: #929699;
  background-color: transparent;
}
.donate__cash::-moz-placeholder {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #929699;
}
.donate__cash:-ms-input-placeholder {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #929699;
}
.donate__cash::placeholder {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #929699;
}
.donate__cash::-webkit-outer-spin-button, .donate__cash::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.testimonials__input[type=range] {
  position: relative;
  text-align: center;
  -webkit-appearance: none;
  width: 599px;
  background: #F5F7F6;
  border-radius: 5px;
}
.testimonials__input[type=range]::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-image-slice: 1;
  z-index: -1;
  border-radius: 20px;
}

.testimonials__input[type=range]:focus {
  outline: none;
}

.testimonials __input[type=range]::-webkit-slider-runnable-track {
  width: 599px;
  height: 8px;
  cursor: pointer;
  background: #F5F7F6;
}

.testimonials__input[type=range]::-webkit-slider-thumb {
  margin: 1px 0;
  width: 115.19px;
  height: 6px;
  background: #fe9013;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
}

.logoBox {
  color: rgb(255, 255, 255);
}

.logo {
  width: 82px;
  height: 52px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo .logoText {
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}
.logo .logoImg {
  background-image: url("../../../assets/img/svg/bamboo.svg");
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  width: 15.03px;
  height: 25.98px;
  left: 7px;
  top: 19px;
}

.logo_footer {
  border: 0.5px solid rgb(255, 255, 255);
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.header__wrapper {
  background: rgb(0, 0, 0);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 14px 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}

.header__nav-img-wrapper {
  display: flex;
  gap: 63px;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 58px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
}

.navigation__link {
  color: rgb(255, 255, 255);
}

.navigation__link_activ {
  color: #fa6f32;
}

.header__designed {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
}

.header__designed__link {
  color: rgb(255, 255, 255);
}

.wrapper__section-panda {
  height: 700px;
  background: url("../../../assets/img/png/GiantPanda.png");
  background-repeat: no-repeat;
  background-position: 0 -80px;
  display: flex;
  justify-content: flex-end;
  padding-right: 220px;
}

.wrapper__section-panda_donat {
  height: 386px;
  background-position: 0 -200px;
}

.panda__content {
  width: 500px;
}

.panda__button {
  margin-left: 105px;
}

.panda__caption {
  position: relative;
  padding-top: 86px;
  height: 486px;
  font-size: 10.65rem;
  font-style: normal;
  font-weight: 500;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  z-index: 1;
}
.panda__caption span {
  color: rgb(255, 238, 46);
}
.panda__caption::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -73px;
  display: block;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 50%;
  z-index: -1;
}

.panda__button {
  margin-top: 60px;
}

.wrapper__main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backstage {
  display: flex;
  justify-content: space-between;
  gap: 87px;
  padding: 140px 220px 0;
  color: #333b41;
  margin-bottom: 180px;
}

.backstage__content {
  max-width: 465px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.backstage__content h4 {
  margin-bottom: 14px;
}

.backstage__annotation {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 34px;
}

.backstage__description {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.slider {
  padding: 0 220px;
}

.slider__cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider__card {
  height: 426px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 366px;
  border: solid 1px #fa6f32;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
.slider__card:hover .slider__card__img {
  display: none;
}
.slider__card:hover img {
  transform: scale(1.1);
  z-index: 2;
}
.slider__card:hover .slider__card__wrapper {
  position: relative;
  transform: translateY(-45px);
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: white;
  z-index: 3;
}
.slider__card:hover .slider__card__wrapper::before {
  position: absolute;
  left: 0;
  content: "";
  background-color: rgb(75, 146, 0);
  height: 150px;
  width: 366px;
  z-index: -1;
}

.slider__card__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px 10px 12px;
}

.slider__card__img {
  position: relative;
  padding-top: 7px;
  width: 48px;
  height: 40px;
}
.slider__card__img img {
  position: absolute;
  right: 0px;
  top: 1px;
  width: 48px;
  height: 40px;
}

.slider__card__title {
  margin-top: 1px;
  text-transform: uppercase;
}

.slider__card__description {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

.slider__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

.slider__arrow_left {
  position: absolute;
  top: 50%;
  left: -82px;
  transform: translateY(-42px);
}

.slider__arrow_right {
  position: absolute;
  top: 50%;
  right: -82px;
  transform: translateY(-42px);
}

.main__button {
  margin: 62px 0px 100px;
}

.main__bacgraund__img__flower {
  position: absolute;
  top: 15px;
  right: 0px;
  z-index: -1;
}

.main__bacgraund__img__palm {
  position: absolute;
  bottom: -2px;
  left: 0px;
  z-index: -1;
}

.main__bacgraund__img__strelitzia {
  position: absolute;
  bottom: -2px;
  right: 0px;
  z-index: -1;
}

.wrapper__donate {
  height: 1482px;
  padding: 40px 220px 180px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}

.donate__text {
  margin-top: 10px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.24rem;
  /* subtitle */
}

.donate__info {
  margin-top: 45px;
  align-self: flex-start;
  color: #fe9013;
}

.donate__card {
  width: 1160px;
  height: 964px;
  background-color: rgba(255, 255, 255, 0.52);
  border-radius: 20px;
  margin-top: 60px;
  padding: 40px 92px 61.9px;
}

.donate__card__title {
  margin-left: 250px;
  color: #fe9013;
}

.donate__card__text {
  margin-top: 20px;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #333b41;
}

.donate__diet__wrapper {
  padding-left: 216px;
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.donate__diet__wrapper .donate__diet__four {
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  margin-right: 11px;
}
.donate__diet__wrapper .donate_diet__X {
  padding-top: 29px;
  margin-right: 64px;
}
.donate__diet__wrapper .donate__diet__number {
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.donate__diet__wrapper .donate__diet__text {
  margin-top: 12px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  color: #333b41;
}

.donate__slider__container {
  margin-top: 46.53px;
  width: 976px;
}
.donate__slider__container .donate__slider_title {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #333b41;
}

.donate__slider {
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 27px;
  background: #404950;
}

.donate__range {
  position: relative;
  margin-left: 17.5px;
  margin-top: 12.5px;
  width: 945px;
  height: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: #72828e;
}
.donate__range::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: url("../../../assets/img/png/Componentslider.png");
  cursor: pointer;
}

.donate__range_label__container {
  pointer-events: none;
  position: absolute;
  top: 9px;
  margin-left: 32px;
  height: 10px;
  width: 1100px;
  display: flex;
}

.donate__range_label {
  margin-right: 119.3px;
  height: 10px;
  width: 10px;
  background: url("../../../assets/img/png/Ellipse.png");
}

.donate__dollars {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.donate__value__wrapper {
  width: 72px;
  display: flex;
  align-items: center;
}
.donate__value__wrapper .donate__s {
  width: 10px;
  height: 20px;
  background: url("../../../assets/img/png/S_value.png");
}
.donate__value__wrapper .donate_value {
  margin-left: 3px;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #333b41;
}

.donate__cash {
  margin-left: 355px;
  margin-top: 48px;
  background: url("../../../assets/img/png/S2.png");
  background-repeat: no-repeat;
  background-position-x: 248px;
  background-position-y: center;
}

.donate__how {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #333b41;
  position: relative;
  margin: 27px auto 26px 382px;
}
.donate__how input {
  width: 18px;
  height: 18px;
  position: absolute;
  opacity: 0;
}
.donate__how .donate__monthly {
  width: 18px;
  height: 18px;
  top: 4px;
  left: 3px;
  transform: scale(1.4);
}
.donate__how .donate__once {
  width: 18px;
  height: 18px;
  top: 4px;
  left: 140px;
  transform: scale(1.6);
}
.donate__how .donate__monthly_label {
  margin-right: 45px;
}
.donate__how input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.donate__how input + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid orange;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.donate__how input:not(:disabled):not(:checked) + label:hover::before {
  border-color: orange;
}
.donate__how input:not(:disabled):active + label::before {
  background-color: orange;
  border-color: orange;
}
.donate__how input:focus + label::before {
  box-shadow: 0 0 0 0.2rem orange;
}
.donate__how input:focus:not(:checked) + label::before {
  border-color: orange;
}
.donate__how input:checked + label::before {
  border-color: orange;
  background-color: orange;
}
.donate__how input:disabled + label::before {
  background-color: orange;
}

.button__donate {
  margin-left: 342px;
}

.donate__share__text {
  margin-left: 342px;
  margin-top: 30px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #333b41;
}

.wrapper__footer {
  background: #111115;
  padding: 40px 220px 50px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper__footer a {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.wrapper__footer .navigation__link_activ {
  color: #fa6f32;
}

.footer__subscribe__title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.footer__input_wrapper {
  margin-top: 14px;
  display: flex;
  align-items: center;
}

.submit {
  margin-left: 10px;
}

.footer__donate {
  margin-top: 36px;
  flex-basis: 100%;
}

.footer__social {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.footer__social .footer__social__link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.footer__social .social__link__wrapper {
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.footer__social .social__name {
  margin-left: 12px;
}

.footer__nav {
  display: flex;
  align-items: flex-end;
  margin-left: 120px;
  padding-bottom: 5px;
}
.footer__nav .footer__navigation {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  gap: 58px;
  align-items: flex-end;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 5px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 100;
  line-height: 130%;
}
.footer__copyright .footer__school {
  margin-top: 10px;
}
.footer__copyright .footer__logoBox {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 100;
  line-height: 130%;
}/*# sourceMappingURL=style.css.map */