.button {
    @include font($size: 1.6rem, $height: 140%, $weight: 500);
    text-transform: uppercase;
    width: 298px;
    height: 54px;
    text-align: center;
    text-transform: uppercase;
    color: $color-white-text;
    border: none;
    cursor: pointer;
    
    background: $color-default;
    border-radius: 25px;
    &_rectangle {
        border-radius: 5px;
    }
    &:hover{

        background: $color-buuton-hover;
    }
    &:active{

        background: $color-buuton-active;
    }
}


.submit {

    background: $color-submit-bg; 
    border: 2px solid $color-text;
    border-radius: 5px;
    width: 129px;
    height: 42px;
    color: $color-header-bg;
    padding: 10px 39px;
    @include font($size: 1.6rem, $height: 140%, $weight: 400);
    
    &:focus, &:active, &:hover{
        color:$color-focus;
        background: $color-submit-bg;
        border: 2px solid $color-buuton-active;
    }
    // &:invalid {
    //     background: $color-submit-bg;
    //     color: $color-red;
    //     border: 2px solid $color-red;
    // }
}


.slider__arrow {
    cursor: pointer;
       &:hover{

        background: $color-buuton-hover;
    }
    &:active{

        background: $color-buuton-active;
    }
  }
.social__logo {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
    //    &:hover{
    //     background: $color-buuton-hover;
    // }
    &:active{
        background: $color-buuton-active;
    }
  }





.slider__arrow_left_img {
// width: 100%;
// height: 100%;
    &:hover{
        transform: translateX(-3px) scale(1.2);  
  }
  
}
  
.slider__arrow_right_img {
&:hover{
      transform: translateX(3px) scale(1.2);  
}

  }















// .button {
//     @extend %font-prim;
//     padding: 11px 25px 13px;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 1.6rem;
//     line-height: 2.2rem;
//     border-radius: 4px;
//     cursor: pointer;
//     @extend %transition;
//     &_bordered {
//         background: $color-light;
//         border: 1px solid $color-border;
//         color: $color-text;
//         &:hover {
//             background: $color-hovered;
//             border-color: $color-hovered;
//         }
//     }
//     &_colored {
//         background: $color-primary;
//         color: $color-light;
//         border: 1px solid $color-primary;
//         &:hover {
//             background: $color-additional;
//             border-color: $color-additional;
//         }
//     }
// }

// .link-button {
//     color: $color-primary;
//     @extend %font-add;
//     display: inline-flex;
//     align-items: center;
//     transition: .3s;
//     &:hover {
//         color: $color-red;
//         .ico_play {
//             background-image: url("../img/icons/play-hover.svg");
//         }
//     }
// }

// .link-button__text {
//     margin-left: 9px;
// }
